<form class="signup-btn-container" autocomplete="off" [formGroup]="signupForm" (ngSubmit)="signup()" id="signupForm">
  <div>
    username
    <div>
      <input class="input-form" type="text" placeholder="User Name" formControlName="username">
    </div>
  </div>
  <div>
    surname
    <div>
      <input class="input-form" type="text" placeholder="Surname" formControlName="surname">
    </div>
  </div>
  <div>
    bornDate
    <div>
      <input class="input-form" type="date" placeholder="born date" formControlName="bornDate">
    </div>
  </div>
  <div>
    email
    <div>
      <input class="input-form" type="email" placeholder="Email" formControlName="email">
    </div>
  </div>
  <div>
    password
    <div>
      <input class="input-form" type="password" placeholder="Password" formControlName="password">
    </div>
  </div>
  <div>
    <div class="signup-btn-container">
      <button type="submit">Signup</button>
      <button (click)="goToLogin()">Login</button>
    </div>
  </div>
</form>